body {
    padding: 10px;
}
input, select{
  border-width: 2px !important;
  padding: 5px;
}
.row.date>.column, .row.date>.columns {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.ng-dirty.ng-valid{
    background-color: rgba(100,255,0,0.15) !important;
    border-color: rgba(100,255,0,0.1) !important;
}
.ng-invalid{
/*    background-color: rgba(255,100,0,0.1) !important;
    border-color: rgba(255,100,0,0.1) !important;*/
}
form.ng-invalid{
    background-color: rgba(0,0,0,0) !important;
    border-color: rgba(256,200,0,0.1) !important;
}
#submit {
    width: 100%;
}
.no-pad-left {
    padding-left: 0;
}
.no-pad-right {
    padding-right: 0;
}
select
{
    color: #fff;
}
option
{
    color: #000;
}
option:first-child
{
    color: #ccc;
}
