h1{
  font-family: 'Zilla Slab', serif;
}
h2{
  font-size:200%;
  font-family: 'Poiret One', cursive;
}
h3{
  font-family:'Cabin';
  /*margin-left:1em;*/
}
a{
  text-decoration: none;
}
h2.frontpage-heading{
  margin-top:0;
  padding-top:1em;
  font-size:250%;
}
div.frontpage-text{
  font-family: 'Cabin';
  font-size:150%;
}
html{
  height:100%;
}
body{
  margin:0;
  min-height: 100%;
  padding:0;
}

.boat {
  /*background-image: url("../images/skater-large.jpg");*/
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1.0) ), url('../images/skater-large.jpg');
  min-height:200px;
  height:50%;
  background-position: left top;
  background-repeat: 
  no-repeat;
  width:100%;
  position:relative;
  padding:0;
  margin:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*background-size: cover auto;*/
}
.boat-smaller{
  height:20%;
  min-height:200px;
  /*width:40%;*/
}
.noboat {
  background-position: left top;
  background-repeat: no-repeat;
  width:100%;
  position:relative;
  padding:0;
  margin:0;
}
.Neolafia {
  padding:10px;
  color:white;
  /*width:100%;*/
  background:rgba(0,40,0,0.6);
  /*background-image: url("../images/skater-large.jpg");*/
}
.logo {
  min-height:100%;
  margin:0px;
  padding:0px;
}
.question-container {
  background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(100,100,100, 0.8) );
  width:100%;
  text-align:center;
  position:absolute;
  bottom:0;
  color:white;
}
.question {
  margin:auto;
}
.dashboard-container{
  width:100%;
}
.dashboard-topnav{
  /*background: linear-gradient(to right, rgb(112, 100, 50), rgb(84, 75, 37));*/
  text-align:center;
  background-color:rgb(112, 100, 50);
  /*padding-bottom:2px;*/
  /*width:100%;*/
}
.dashboard-navitem{
  background-color:rgba(0,0,0,0.2);
  font-family:'Cabin';
  /*font-size:70%;*/
  vertical-align:middle;
  /*height:100%;*/
  color:white;
  margin:0;
  padding-top:0.5em;
  padding-bottom:0.5em;
  padding-left:6.25%;
  padding-right:6.25%;
  display:inline-block;
  font-size:1.33em;
  border-bottom:solid rgba(0,0,0,0);
  /*border-left: solid rgba(0,0,0,0.5);*/
  /*line-height:1.5;*/
  /*margin:10%;*/
  /*width:100%;*/
  cursor:pointer;
  /*text-decoration: none;*/
}
.dashboard-body{
  background-color:white;
}
.dashboard-navitem:hover{
  border-bottom: solid rgba(255,255,255,0.8);
  background-color:rgba(0,0,0,0.1);
}
.frontpage-body {
  /*background: linear-gradient( rgba(255,255,255, 0.5), rgba(255,255,255,1) );*/
  background: rgba(255,200,170,0.5);
  /*height:100%;*/
}
.frontpage-container {
  /*margin-left:10%;*/
  /*width:90%;*/
  text-align:center;
  display:block;
  margin-left:auto;
  margin-right:auto;
  /*min-height:100%;*/
}

.frontpage-entry {
  /*background: linear-gradient( rgba(255,255,255, 0.5), rgba(255,255,255,1) );*/
  padding:5%;
  background-color:rgba(255,255,255,0.9);
  padding-left:5%;
  text-align:left;
}
.account-body {
  background: rgba(255,200,170,0.5);
  height:100%;
}
.account-container {
  /*margin-left:10%;*/
  /*width:90%;*/
  text-align:center;
  display:block;
  margin-left:auto;
  margin-right:auto;
  min-height:100%;
}
.account-entry {
  padding:5%;
  padding-top:1em;
  background-color:rgba(255,255,255,0.9);
  padding-left:5%;
  text-align:left;
}
.results-body {
  /*background: linear-gradient( rgba(255,255,255, 0.5), rgba(255,255,255,1) );*/
  background: rgba(255,255,255,1);
}
.results-body-confirm {
  /*background: linear-gradient( rgba(255,255,255, 0.5), rgba(255,255,255,1) );*/
  background: rgba(255,255,255,1);
  position:absolute;
  padding-bottom:10vw;
}
.results-text {
  font-style: italic;
  padding:1em;
}
.results-container {
  /*margin-left:10%;*/
  /*width:90%;*/
  text-align:center;
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:2em;
  /*min-height:100%;*/
}
.results-entry {
  padding:1em;
  /*padding-left:0%;*/
  text-align:left;
  width:80%;
  margin-left:10%;
  /*margin-right:10%;*/
  background-color:#eeeadc;
  border-bottom:1px solid gray;
  margin-top:1em;
  /*border:1px solid;*/
  /*height:200px;*/
  display:block;
}
.left{
  float:left;
}
.right{
  float:right;
}
  
.banner-button{
  font-family:'Cabin';
  font-size:80%;
  vertical-align:middle;
  height:100%;
  color:white;
  padding:10px;
  /*margin:10%;*/
  width:100%;
  cursor:pointer;
  text-decoration: none;
  /*border-style: solid;*/
}
span.banner-button-container{
  position:absolute;
  right:0px;
  /*height:100%;*/
  padding-right:1em;
}
a.banner-welcome-text{
  font-family: 'Courgette', cursive;
  font-size:70%;
}
.banner-button:hover{
  border-bottom: solid rgba(255,255,255,0.8);
  background-color:rgba(255,255,255,0.2);
}
.soloheading{
  font-family: 'Cabin';
  text-align:center;
}
.unselectable{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.form-frontpage{
  font-family:Cabin;
}
.form-frontpage table{
  width:100%;
  font-family:Arial;
  border-collapse: separate;
  border-spacing:0 0.5em;
}
.form-frontpage tr{
}
.form-frontpage td{
  padding:0.5em;
  border:solid black 1px;
}
.form-frontpage input[type='password'],
.form-frontpage input[type='email'],
.form-frontpage input[type='text']{
  font-size:1.66vw;
  border: solid gray 1px;
  width:95%;
  margin:0.66vw 0.66vw;
  padding:0.66vw 0.66vw;
  border: none;
}
.form-frontpage .label{
  font-size:1.33vw;
  font-weight:bold;
  background-color:orange;
  text-align:center;
}
.form-frontpage .field{
  font-size:1.33vw;
  margin:0;
  padding:0;
  font-weight:bold;
  background-color:white;
  text-align:center;
  overflow:hidden;
}
.form-frontpage .button-container{
  text-align:center;
}
.form-frontpage input[type='submit']{
  font-size:1.33vw;
  margin:1em;
  padding:0.5vw;
  background-color:green;
  color:white;
  font-weight:bold;
  width:14em;
  font-family:Cabin;
  text-align:center;
}
.form-frontpage input::-webkit-input-placeholder {
    font-size:85%;
    font-style:italic;
}
.form-frontpage input:-moz-placeholder {
    /* FF 4-18 */
    font-size:85%;
    font-style:italic;
}
.form-frontpage input::-moz-placeholder {
    /* FF 19+ */
    font-size:85%;
    font-style:italic;
}
.form-frontpage input:-ms-input-placeholder {
    /* IE 10+ */
    font-size:85%;
    font-style:italic;
}

.marquee img{
  height:13vw;
  padding-top:5vh;
  padding-bottom:5vh;
}
.marquee div{
  font-family:Cabin;
  font-size:2vw;
  padding-left:1vw;
  text-align:left;
  /*position:absolute;*/
  width:18vw;
}
.marquee td{
  overflow: hidden;
}
.marquee{
  background-color:lightgray;
  vertical-align:middle;
  /*position:absolute;*/
  width:100%;
  /*bottom:50%;*/
  /*display:table;*/
}
.marquee table{
  /*height:100%;*/
  /*width:100%;*/
  position:relative;
  /*top:50%;*/
  vertical-align:center;
}

table.schedule{
  width:100%;
  border-collapse:collapse;
}
.schedule td{
  padding:0.5em;
  /*background-color:green;*/
}
.schedule tr{
  background-color:#ffffe0;
}
.schedule tbody{
  /*background-color:green;*/
  border-bottom:1px solid lightgray;
}
.schedule .buttons{
  /*text-align:center;*/
}
.buttons a{
  color:blue;
  width:25%;
  font-family:Cabin;
  font-size:0.75em;
  padding:0.2em;
  margin:0 1em 0 1em;
  /*background-color: #ffffff;*/
}